---
layout: default
---

{% for post in paginator.posts %}
<article class="teaser">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p>Recorded: {{ post.recorded|date: "%Y-%m-%d" }}, Published: {{ post.date|date: "%Y-%m-%d" }}</p>
    {% if post.podcast %}
    <div class="player">
      <audio src="{{ post.podcast.file }}" preload="none" controls></audio>
      <a href="{{ post.podcast.file }}">Download MP3</a>
    </div>
    {% if post.excerpt %}
        {{ post.excerpt | markdownify }}
    {% else %}
        {{ post.content | mark_excerpt }}
    {% endif %}
    <p><a href="{{ post.url }}" class="more-link"><span class="readmore">Read More...</span></a></p>
    {% endif %}
</article>
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<footer class="pagination">
  {% if paginator.previous_page %}
    <a href="{% if paginator.previous_page == 1 %}/{%else%}/page{{ paginator.previous_page }}{%endif%}" class="previous">Previous Page</a>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next Page</a>
  {% endif %}
</footer>
{% endif %}
