---
subscriptions:
- url: /feed.xml
  icon: rss.svg
- url: https://itunes.apple.com/us/podcast/the-haskell-cast/id694047404
  icon: itunes.svg
---
<!doctype html>
<html>
    <head>
        {% include meta.html %}
    </head>
    <body>
        {% include header.html %}

        <div class="sidebar">
            <nav class="subnav" id="subscribe">
	      <h2>Subscribe</h2>
                {% if layout.subscriptions %}
                    <ul>
                    {% for link in layout.subscriptions %}
                    <li><a href="{{ link.url }}"><img src="/img/{{ link.icon }}" alt="{{ link.title }}">
                    </a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </nav>
	    <a class="logo" href="/"><img class="logo" src="/img/haskellcast-logo.jpg"></a>
	    <nav class="subnav" id="hosts">
              <h2>Your Hosts</h2>
              {% for host in page.hosts %}
	      <a href="https://twitter.com/{{ host.twitter }}"><img src="http://www.gravatar.com/avatar/{{ host.gravatar }}?s=160"><br>{{ host.name }}</a>
              {% endfor %}
	    </nav>
        </div>

        <div class="main">
            {{ content }}
        </div>

        {% include footer.html %}
	<div style="clear: both"></div>
    </body>
</html>
