---
layout: default
---
<article>
    <header>
        <h2>{{ page.title }}</h2>

        <p>Recorded: {{ page.recorded|date: "%Y-%m-%d" }}, Published: {{ page.date|date: "%Y-%m-%d" }}</p>
    </header>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F{{ page.soundcloud }}"></iframe>
<noscript><a href="{{ page.podcast.file }}">Download MP3</a></noscript>

    {{ content }}

<p>Links from the show:

<ul>
{% for link in page.links %}
<li><a href="{{ link }}">{{ link }}</a></li>
{% endfor %}
</ul>
</p>

{% if page.youtube %}
<p>You can also watch an uncut video of the interview:</p>

<iframe width="420" height="315" src="//www.youtube.com/embed/{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
{% endif %}

<p>The music used in the show is <a href="https://machinimasound.com/music/ecstatic-wave">Ecstatic Wave</a> by Jens Killstofte.</p>
    <footer>
        {% include disqus.html %}
    </footer>
</article>
